---
import Base from "../layouts/Base.astro";
import Nav from "../components/Nav.astro";
import Hero from "../components/Hero.astro";
import Manifesto from "../components/Manifesto.astro";
import Projects from "../components/Projects.astro";
import Philosophy from "../components/Philosophy.astro";
import Closing from "../components/Closing.astro";
import Footer from "../components/Footer.astro";
---

<Base>
  <Nav />
  <main>
    <Hero />
    <Manifesto />
    <Projects />
    <Philosophy />
    <Closing />
  </main>
  <Footer />
</Base>
